
<h2>Edit task page</h2>
<h2 class="column">
@task.info <%= @task.info %>
@task.goal_id <%= @task.goal_id %>
@task.user_id <%= @task.user_id %>
@task.info <%= @task.info %>
</h2>

<div>
  <%= form_with model: @task do |form| %>
    <%= form.text_field :info %>
    <%= form.submit 'Update' %>
  <% end %>
</div>
<% if false %>
<% end %>
