<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<div class="row bg-light">
  <div class="btn text-left">目標名「　　　　」</div>
  <div>
  </div>
  <div class="btn btn-outline-primary">00:00:00:00</div>
</div>

<div>
  <table class="table">
    <tr>  
      <th>user_id</th>
      <th>goal_id</th>
      <th>日付</th>
      <th>コメント</th>
    </tr>  
  <% @task.each do |task| %>
    <tr>
      <td><%= task.user_id %></td>
      <td><%= task.goal_id %></td>
      <td><%= task.created_at %></td>
      <td><%= task.info %></td>
      <td><%= link_to "edit", edit_goal_task_path(params[:goal_id], task.id) %></td>
      <td><%= link_to "delete", goal_task_path(params[:goal_id], task.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
    </tr>
  <% end %>
  </table>
</div>


<div>
</div>