<body>
  
  <div class="row bg-light mb-5">
    <div class="btn text-left">目標名:</div>
    <div>
      <%= @goal.title %>
    </div>
    <div class="btn">
      期限まで残り
    </div>
    <div>
      <%= @goal.due_time.strftime("%Y年%-m月%-d日%H:%M:%S") %>
    </div>
    <div class="pl-5"></div>
    <div class="btn btn-warning">
      <h5 id="big_clock">00:00:00:00</h5>
    </div>
  </div>
  
  <h3 class="text-center">コメント一覧</h3>
  <div>
    <table class="table tabel-striped table-hover">
      <tr>  
        <th>投稿日時</th>
        <th>コメント</th>
        <th class="text-center">編集</th>
        <th class="text-center">削除</th>
      </tr>  
    <% @task.each do |task| %>
      <tr>
        <td><%= task.created_at.strftime("%Y年%-m月%-d日%H時%M分") %></td>
        <td><%= task.info %></td>
        <td class="text-center">
            <%= link_to edit_task_path(task) do %>
              <i class="fas fa-cog"></i>
            <% end %>
        </td>
          
        <td class="text-center">
          <%= link_to task_path(task), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>

  <div class="btn btn-outline-primary">
    <%= link_to "コメントを追加", new_goal_task_path(params[:goal_id]) %>
  </div>
  <div class="btn btn-outline-secondary">
    <%= link_to "目標一覧へ戻る", goals_path, class: "" %>
  </div>

</body>
<script>
document.addEventListener("turbolinks:load", function() {
    if (document.getElementById("big_clock")) {
      startTaskTime();
    }
})
    function startTaskTime(){
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      var ds = "<%= (@goal.due_time.to_date - Date.today).to_i %>";
      var hh = 23 - h;
      var mm = 59 - m;
      var ss = 59 - s;
      hh = checkTime(hh);
      mm = checkTime(mm);
      ss = checkTime(ss);
      var display = (ds - 1) + "日" + hh + "時間" + mm + "分" + ss + "秒";
      if(ds < 0){
        display = "終了済み";
      }
      var bigClock = document.getElementById("big_clock");
      if (bigClock) {
        bigClock.innerHTML = display;
        setTimeout(startTaskTime, 1000);
      }
    }
    function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
    }
</script>
