<div class="my-auto text-center">
  <h2>Log in</h2>
</div>
<div class="container py-2">
  <div class="row justify-content-md-center">
    <div class="form-group">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field row py-2">
        <div class="col-sm-4">
          <%= f.label :email %>
        </div>
        <div class="col-sm-8">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
    
      <div class="field row py-2">
        <div class="col-sm-4">
          <%= f.label :password %><br />
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </div>
    </div>
  </div>
    
    <div class="row justify-content-md-center">
      <div class="pl-5">
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      
        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-outline-success" %>
        </div>
      
    <% end %>
    
    <%= render "users/shared/links" %>
      </div>
    </div>
</div>
