
<h1>目標一覧</h1>
<h2>Goals#index</h2>
<body>
    <table class="table table-striped table-hover">
      <tr>  
        <th>user_id</th>
        <th>goal_id</th>
        <th>目標</th>
        <th>期限</th>
      </tr>  
      <% @goal.each do |goal| %>
      <tr>
        <% if current_user.id == goal.user_id %>
          <td><%= goal.user_id %></td>
          <td><%= goal.id %></td>
          <td><%= goal.title %></td>
          <td><%= goal.due_time %></td>
          <td><%= link_to "edit", edit_goal_path(goal) %></td>
          <td><%= link_to "delete", goal_path(goal), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
    
    <li>
      <ul><%= link_to "新規作成", new_goal_path %></ul>
    </li>
  <p class="float-right">
    <a href="#">先頭に戻る</a>
  </p>

</body>
