
<body>
<h1 class="text-center mb-5">目標一覧</h1>
    <table class="table table-striped table-hover">
      <tr>  
        <th class="text-center">重要度</th>
        <th>タイトル</th>
        <th>内容</th>
        <th>期限</th>
        <th>作成日</th>
        <th class="text-center">Status</th>
        <th class="text-center">編集</th>
        <th class="text-center">削除</th>
      </tr>  
      <% @goal.each do |goal| %>
      <tr>
        <% if current_user.id == goal.user_id %>
          <td class="text-center"><%= goal.priority %></td>
          <td><%= goal.title %></td>
          <td><%= goal.info %></td>
          <td><%= goal.due_time %></td>
          <td><%= goal.created_at.to_date %></td>
          <td class="text-center"><%= goal.status %></td>
          <td class="text-center">
            <%= link_to edit_goal_path(goal) do %>
              <i class="fas fa-cog"></i>
            <% end %>
          </td>
          <td class="text-center">
            <%= link_to goal_path(goal), :method => :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </table>
    
    <div class="text-center">
      <div class="btn btn-outline-info">
        <%= link_to "新規作成", new_goal_path %>
      </div>
    </div>
  <p class="float-right">
    <a href="#">先頭に戻る</a>
  </p>

</body>
