<head>
  <div>
    <script>
    function startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      document.getElementById('txt').innerHTML =
      h + ":" + m + ":" + s;
      var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
    }
    </script>
  </div>
</head>

<body onload="startTime()">
  <div id="tt"></div>
</body>

<body>
  <header>
  </header>

  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">目標 一覧</h1>
        <p class="lead text-muted">View all of your goals</p>
        <p>
          <a href="#" class="btn btn-primary my-2">進行中</a>
          <a href="#" class="btn btn-secondary my-2">完了済み</a>
          <p id="txt"></p>
        </p>
      </div>
    </section>
  </main>

</body>


<h1>目標一覧</h1>
<h2>Goals#index</h2>
<body>
    <table>
    <% @goal.each do |goal| %>
      <tr>  
        <th>user_id<th>
        <th>goal_id<th>
        <th>目標<th>
        <th>期限<th>
      </tr>  
      <tr>
        <td><%= goal.user_id %></td>
        <td><%= goal.id %></td>
        <td><%= goal.title %></td>
        <td><%= goal.due_time %></td>
        <td><%= link_to "edit", edit_goal_path(goal) %></td>
        <td><%= link_to "delete", goal_path(goal), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>  
        
        
        <p>　</p>
    <% end %>
    </table>
    
    <li>
      <ul><%= link_to "新規作成", new_goal_path %></ul>
    </li>
  <p class="float-right">
    <a href="#">先頭に戻る</a>
  </p>

</body>
