<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <div onload="startTime_tab()"></div>
    <title id="navbar_clock">WillClock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    
    <!--時間表示スクリプト-->
    <!--navbar_clock-->
    <script>
    function startTime_navbar() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      document.getElementById("navbar_clock").innerHTML =
      h + ":" + m + ":" + s;
      var t = setTimeout(startTime_navbar, 500);
    }
    function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
    }
    </script>
    
    <!--tab_clock-->
    <script>
    function startTime_tab() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      document.getElementById("tab_clock").innerHTML =
      h + ":" + m + ":" + s;
      var t = setTimeout(startTime_tab, 500);
    }
    function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
    }
    </script>
    
  </head>


  <body>
    
    <header class="fixed-top">
          
          <body onload="startTime_navbar()">
            <div id="tt"></div>
          </body>
          <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
              <a href="#" class="navbar-brand d-flex align-items-center">
                <h3><strong>WillClock</strong></h3>
              </a>
              <span class="btn btn-outline-dark text-light align-items-center">
                <div onload="startTime(clock0)">
                  <h3 id="navbar_clock">00:00:00:00</h3>  
                </div>
              </span>
              <div class="d-flex">
                <ul class="nav nav-links">
                  <% unless user_signed_in? %>
                    <li class="btn btn-outline-primary mx-2 text-white">
                      <%= link_to "Sign up", signup_path, class: "text-white" %>
                    </li>
                  <% end %>
                  <% unless user_signed_in? %>
                    <li class="btn btn-outline-primary mx-2">
                      <%= link_to "Log in", login_path, class: "text-white" %>
                    </li>
                  <% end %>
                  <% if user_signed_in? %>
                    <li class="btn btn-outline-primary mx-2">
                      <%= link_to "Goals", goals_path, class: "text-white" %>
                    </li>
                  <% end %>
                  <% if user_signed_in? %>
                    <li class="btn btn-outline-primary mx-2">
                      <%= link_to "Log out", logout_path, class: "text-white" %>
                    </li>
                  <% end %>
                </ul>
              </div>
              
            </div>
          </div>
        </header>





    <div class="container">
      <div class="notifications" >
        <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: key) %>
        <% end %>
      </div>
      <%= yield %>
          <div class="">
          </div>
    </div>
    
    
    
    
  </body>
</html>
